*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.container{
    background-color: #eeefd7;
    margin: 0px 0px 0px;
    padding: 10px;
    height:75%;
}
.container2{
    background-color: #eeefd7;
    margin: 0px 0px 0px;
    padding: 258px;
    
}
header{
    padding:17px;
    color:rgb(13, 14, 13);
    background-color:#eeefd7;
    text-align:center;
} 
footer{
    background-color:#e4e865 ;
    text-align:center;
    padding:15px;
    margin:0px 00px ; 
    
}
button{
    color: dimgrey;
    size: 20px
}

.center{
    padding:10px;
    margin:2px 350px 2px 350px;
    font-size:17px;
    font-family: sans-serif;
    background-color:rgba(195, 195, 123, 0.94);
}
.center2{
    padding:30px;
    margin:2px 35px 30px 40px;
    font-size:17px;
    background-color:rgb(195, 195, 123, 0.94);
}
ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #f3f3f3;
}    
table, th, td {
        border: 1px solid black;
}
table{
    width: 300px;
        border-collapse: collapse;
}
input[type=text]{
    padding: 7px;
    margin:10px;
}
input[type=password]{
    padding: 7px;
    margin: 10px;
}
input[type=submit]{
    padding: 7px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(47, 142, 47);
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(23, 184, 58);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(13, 87, 184, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 3px;
    background-color: #608ee4;
    padding: 5px;
}

/* table.Table {
    border: 1px solid rgb(28, 76, 164);
    background-color: rgb(234, 241, 241);
    width: 80%;
    text-align: left;
    border-collapse: collapse;
  }
  table.Table td, table.Table th {
    border: 1px solid rgb(12, 12, 12);
    padding: 3px 2px;
  }
  table.Table tbody td {
    font-size: 16px;
  }
  table.Table tr:nth-child(even) {
    background: #D0E4F5;
  }
  table.Table thead {
    background: rgb(95, 208, 236);
    background-color: rgb(96, 142, 228);
  }
  table.Table thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
  }
  table.Table thead th:first-child {
    border-left: none;
  }
  
  table.Table tfoot {
    font-size: 14px;
    font-weight: bold;
    background: rgb(96, 142, 228);
  }
  table.Table tfoot td {
    font-size: 17px;
  }
  table.Table tfoot .links {
    text-align: right;
  }
  table.Table tfoot .links a{
    display: inline-block;
    color: rgb(239, 239, 241);} */

