
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

table.Table2 {
    /* border: 1px solid rgb(28, 76, 164); */
    background-color: rgb(234, 241, 241);
    width:100%;
    text-align: left;
    border-collapse: collapse;
  }
  table.Table2 td, table.Table2 th {
    /* border: 1px solid rgb(12, 12, 12); */
    padding: 3px 2px;
  }
  table.Table2 tbody td {
    font-size: 16px;
  }
  table.Table2 tr:nth-child(even) {
    background: #D0E4F5;
  }
  table.Table2 thead {
    background: rgb(95, 208, 236);
    background-color: rgb(96, 142, 228);
  }
  table.Table2 thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
  }
  table.Table2 thead th:first-child {
    border-left: none;
  }
  
  table.Table2 tfoot {
    font-size: 14px;
    font-weight: bold;
    
  }
  table.Table2 tfoot td {
    font-size: 17px;
  }
  table.Table2 tfoot .links {
    text-align: right;
  }
  table.Table2 tfoot .links a{
    display: inline-block;
    color: rgb(55, 55, 236);}